{% extends '../base.html' %}

{% block title %}Вхід - Recipe Helper{% endblock %}

{% block nav %}
    <a href="{% url 'index' %}">Домівка</a>
    <a href="{% url 'ing_cat' %}">Складники</a>
    <a href="{% url 'catalog' %}">Страви</a>
    <a href="{% url 'help' %}">Допомога</a>
{% endblock %}

{% block content %}

{% if form.errors %}
    <p>Не існує такої комбінації імені і пароля.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <p>Ім'я:</p>
    {{ form.username }}
    <p>Пароль:</p>
    {{ form.password }}
    <input type="submit" value="Ввійти">
</form>

<h3>Не зареєстровані в системі?</h3>
<a href="{% url 'signup' %}">Зареєструватись</a>

{% endblock %}