{% extends 'base.html' %}
{% load static %}

{% block title %}RecipeHelper - Каталог страв{% endblock %}

{% block nav %}
    <a href="{% url 'index' %}">Домівка</a>
    <a href="{% url 'ing_cat' %}">Складники</a>
    <a class="active" href="{% url 'catalog' %}">Страви</a>
    <a href="{% url 'help' %}">Допомога</a>
{% endblock %}

{% block admin %}
<a href="/recipe/create">Додати новий рецепт</a>
<a href="?page={{menu.number}}&edit_mode=True">Видалити/Редагувати рецепти</a>
{% endblock %}

{% block content %}
<div class="center">
<h2>Каталог рецептів</h2>

<div class="pagination">
    <span class="step-links">
        {% if menu.has_previous %}
            <a href="?page=1">Перша</a>
            <a href="?page={{ menu.previous_page_number }}">Попередня</a>
        {% endif %}

        <span class="current">
            Сторінка {{ menu.number }} з {{ menu.paginator.num_pages }}
        </span>

        {% if menu.has_next %}
            <a href="?page={{ menu.next_page_number }}">Наступна</a>
            <a href="?page={{ menu.paginator.num_pages }}">Остання</a>
        {% endif %}
    </span>
</div>

<h3>Страви:</h3>
{% if menu %}
<table class="center">
    {% for dish in menu %}
    <tr>
    <th><a href="/recipe/{{ dish.id }} "> {{ dish.name }} </a></th>
    {% if user.is_staff %}
    {% if edit %}
    <th><form method="post" >
        {% csrf_token %}
        <div class="delButton">
            <input type="submit" name = "Delete {{dish.id}}" value="Видалити">
        </div>
    </form></th>
    <th><form method="post" >
        {% csrf_token %}
        <div class="editButton">
            <input type="submit" name = "Edit {{dish.id}}" value="Редагувати">
        </div>
    </form></th>
    {% endif %}
    {% endif %}
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if user.is_staff %}
<h3><a href="/recipe/create">Додати новий рецепт</a></h3>
{% endif %}
</div>
{% endblock %}