{% extends 'base.html' %}
{% load static %}

{% block title %}RecipeHelper - {{ dish_name }}{% endblock %}

{% block nav %}
    <a href="{% url 'index' %}">Домівка</a>
    <a href="{% url 'ing_cat' %}">Складники</a>
    <a href="{% url 'catalog' %}">Страви</a>
    <a href="{% url 'help' %}">Допомога</a>
{% endblock %}

{% block content %}
<h2>{{ dish_name }}</h2>
<h3>Складники:</h3>
{% if ingredients_list %}
<ul id="inline">
    {% for ing in ingredients_list %}
        <li>
            <form method="post" >
                <a href="/ingredient/{{ ing.ingredient_id }} "> {{ ing.ingredient.name }} </a> : {{ ing.amount }} {{ ing.ingredient.units }}
                {% csrf_token %}
                {% if user.is_staff %}
                <div class="delButton">
                    <input type="submit" name = "Delete {{ing.ingredient_id }}" value="Видалити">
                </div>
                {% endif %}
            </form>
        </li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" action="">
    {% csrf_token %}
    {{ form_ing }}
    <input type="submit" name="AddIngredient" value="Додати">
</form>

{% if user.is_staff %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="Update" value="Оновити">
</form>
{% endif %}

{% endblock %}
</body>

</html>
