/* all page */
html, body {
    background-color: #ffcc99;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

/*background
body div.welcome {
    background: url(home_background.jpg) repeat-y;
}*/

/* header and footer part */
header, footer {
    text-align: center;
    padding: 10px 0px;
    width: 100%;
    margin: 0px;
}

header {
    color: white;
    background-color: lightseagreen;
}

footer {
    color: black;
    background-color: mediumaquamarine;
}
footer p {
    margin: 0.4em;
}
/* navigation panel part */
nav {
    width: 100%;
    background-color: #ffaa80;
    /*background-color: #ffffff;8*/
    padding: 10px 0px;
    overflow: hidden;
}

/*administration panel */
nav.edit {
    text-size: 0.5em;
    font-style: italic;
    width: 100%;
    background-color: #ffaa80;
    padding: 0px 0px;
    overflow: hidden;
}

nav div{
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    display: inline;
}

nav a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover{
    background-color: #ffff99;
    color: black;
}

nav a.active {
    background-color: #b36b00;
    color: white;
}

nav div.log {
    float: right;
}

/* links */
a:link, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #000033;
}

nav.edit a:link, nav.edit a:visited {
    text-decoration: underline;
    font-weight: normal;
    color: #000033;
}

/* inline list
doesnt worl */
ul#inline li {
    display: inline;
}

/* grid to fridge */
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* center */
.center {
    text-align: center;
}

table.center {
    margin-left: auto;
    margin-right: auto;
    float: center;
}

/* choice picker */
select {
    background-color: #ffcc99;
    font-weight: bold;
}

/* Button */
.Submit {
    color: black;
    background-color: mediumaquamarine;
    font-size: 1.2em;
    border: 1px solid #ffffff;
    padding: 6px;
}

/*div.delButton input {
    color: transparent;
    background: url(delete_512.png) no-repeat;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border: none;
}*/

/* email part */
span.email {
    text-decoration: underline;
}