<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %}RecipeHelper{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'first.css' %}" type="text/css">
</head>

<body>
<header>
    <h2>RecipeHelper</h2>
    <p>Додаток що завжди занайде що б приготувати</p>
</header>

<nav>
    <div class="navi">
    {% block nav %}
    <a class="active" href="{% url 'index' %}">Домівка</a>
    <a href="{% url 'ing_cat' %}">Складники</a>
    <a href="{% url 'catalog' %}">Страви</a>
    <a href="{% url 'help' %}">Допомога</a>
    {% endblock %}
    </div>
    <div class="log">
{% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Вийти</a>
{% else %}
    <a href="{% url 'login' %}">Ввійти</a>
    <a href="{% url 'signup' %}">Зареєструватись</a>
{% endif %}
    </div>
</nav>

{% if user.is_staff %}
<nav class="edit">
    <div>
        {% if user.is_superuser %}
        <a href="/admin">Сторінка адміна</a>
        {% endif %}
        {% block admin %}
        <a href="/recipe/create">Додати новий рецепт</a>
        <a href="/ingredient/create">Додати новий складник</a>
        {% endblock %}
    </div>
</nav>
{% endif %}

<div class="main">
{% block content %}
{% endblock %}
</div>

<footer>
    <p>Написано з використанням <a href="https://www.djangoproject.com/">Django</a>.</p>
    <p>Запитання і пропозиції: <span class="email">test@test.test.</span></p>
    <p>Ліцензія: <a href="https://creativecommons.org/licenses/by-sa/3.0/"> CC BY-SA 3.0 license</a>.</p>
</footer>
</body>
</html>
