{% extends 'base.html' %}

{% block title %}RecipeHelper - Catalog{% endblock %}

{% block nav %}
<nav>
    <a href="{% url 'index' %}">Home.</a>
    <a href="{% url 'ing_cat' %}">Ingridients</a>
    <a class="active" href="{% url 'catalog' %}">Dishes</a>
    <a>Help</a>
</nav>
{% endblock %}

{% block content %}
<h2>Recepy catalog</h2>

<div class="pagination">
    <span class="step-links">
        {% if menu.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ menu.previous_page_number }}">Prev.</a>
        {% endif %}

        <span class="current">
            Page {{ menu.number }} of {{ menu.paginator.num_pages }}
        </span>

        {% if menu.has_next %}
            <a href="?page={{ menu.next_page_number }}">Next</a>
            <a href="?page={{ menu.paginator.num_pages }}">Last</a>
        {% endif %}
    </span>
</div>

<h3>Dishes:</h3>
{% if menu %}
<table>
    {% for dish in menu %}
    <tr>
    <th><a href="/recipe/{{ dish.id }} "> {{ dish.name }} </a></th>
    {% if user.is_staff %}
    <th><form method="post" >
        {% csrf_token %}
        <input type="submit" name = "{{ dish.id}}" value="Delete">
    </form></th>
    {% endif %}
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if user.is_staff %}
<h3>Add new dish <a href="/recipe/create">here</a> </h3>
{% endif %}
{% endblock %}