<html>
<head>
    <title>All dishes</title>
</head>
<body>
<a href="{% url 'index' %}">Go to fridge.</a>
<a href="{% url 'ing_cat' %}">Ingridients</a>
<a href="{% url 'catalog' %}">Dishes</a>
<h2>Recepy catalog</h2>
<h3>Dishes:</h3>
{% if dish_list %}
<ul>
    {% for dish in dish_list %}
    <li><a href="/recipe/{{ dish.id }} "> {{ dish.name }} </a></li>
    {% endfor %}
</ul>
{% endif %}

<h2>Add new dish</h2>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Add">
</form>
</body>

</html>