{% extends 'base.html' %}

{% block title %}RecipeHelper - {{ dish_name }}{% endblock %}

{% block nav %}
    <a href="{% url 'index' %}">Home.</a>
    <a href="{% url 'ing_cat' %}">Ingridients</a>
    <a href="{% url 'catalog' %}">Dishes</a>
    <a>Help</a>
{% endblock %}

{% block content %}
<h2>{{ ingredient_name }}</h2>
<h3>You cant delete this ingredient, because it is used in next recipes:</h3>
<ul>
    {% for ing in recipes_list %}
        <li>
            <a href="/recipe/{{ ing.dish.id }}"> {{ ing.dish.name }} </a>
        </li>
    {% endfor %}
</ul>

{% endblock %}
</body>

</html>
