<html>
<head>
    <title>{{ dish_name }} - RecipeHelper</title>
</head>
<body>
<a href="{% url 'index' %}">Go to fridge.</a>
<a href="{% url 'ing_cat' %}">Ingridients</a>
<a href="{% url 'catalog' %}">Dishes</a>
<h2>{{ dish_name }}</h2>
<h3>Ingredients:</h3>
{% if ingredients_list %}
<ul>
    {% for ing in ingredients_list %}
    <li>
        <a href="/ingredient/{{ ing.ingredient_id }} "> {{ ing.ingredient.name }} </a> : {{ ing.amount }} {{ ing.ingredient.units }}
        <form method="post" >
            {% csrf_token %}
            <input type="submit" name = "{{ ing.ingredient_id }}" value="Delete">
        </form>
    </li>
    {% endfor %}
</ul>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Add">
</form>

<p>{{dish_description}}</p>
</body>

</html>
