{% extends 'base.html' %}
{% load static %}

{% block title %}RecipeHelper - Допомога{% endblock %}

{% block nav %}
    <a href="{% url 'index' %}">Домівка</a>
    <a href="{% url 'ing_cat' %}">Складники</a>
    <a href="{% url 'catalog' %}">Страви</a>
    <a class="active" href="{% url 'help' %}">Допомога</a>
{% endblock %}


{% block content %}
<div class="welcome">
<h2> Вітаєсо в RecipeHelper!</h2>
<p>Ця програма шукає які страви ви можете приготувати. Необхідно додати продукти які є в вас в наявності і програма
    поверне список став що з них можна приготувати. Дуже просто.</p>
</div>
<hr>

<h2>Покрокова інструкція</h2>
<ol>
    <li>
        Firstly add some ingredient to you fridge. Under "Add new stock", you can pick ingredient you want and click
        button "Add"
        <img src="../static/Tutorial_1.png" alt="Tutorial screen one." style="border:5px solid white">
    </li>
    <li>
        After you choose enough ingredients, for example "Oatmeal" and "Milk", system show you recipes at the right of
        screen. This is all.
        <img src="../static/Tutorial_2.png" alt="Tutorial screen two." style="border:5px solid white">
    </li>
    <li>
        Registered user's fridge will be saved for the next time, so you do not need to worry about adding many
        ingredients each time.
    </li>
</ol>
{% endblock %}
