{% extends 'base.html' %}
{% load static %}

{% block title %}RecipeHelper - Catalog{% endblock %}

{% block content %}
<h2>Hi {{ user.username }}! Welcome back!</h2>

<div class="wrapper">
<div class="fridge">
    <h3>It is your fridge:</h3>
    {% if ing_list %}
    <table>
        {% for ing in ing_list %}
        {% if user.is_authenticated %}
        <tr>
        <th>
            <a href="/ingredient/{{ ing.ingredient_id }} "> {{ ing.ingredient.name }} </a>
        </th>
        <th>
            <form method="post" >
                {% csrf_token %}
                <div class="delButton">
                    <input type="submit" name = "{{ ing.ingredient_id }}" value="Delete">
                </div>
            </form>
        </th>
        </tr>
        {% else %}
        <tr>
        <th>
            <a href="/ingredient/{{ ing.id }} "> {{ ing.name }} </a>
        </th>
        <th>
            <form method="post" >
                {% csrf_token %}
                <div class="delButton">
                    <input type="submit" name = "{{ ing.id }}" value="Delete">
                </div>
            </form>
        </th>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    {% else %}
    <p>You fridge is empty :(</p>
    {% endif %}

    <h2>Add new stock</h2>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Add" class="Submit">
    </form>
</div>

<div class="posibilities">
    <h3>You can cook next:</h3>
    {% if dish_list %}
    <ul>
        {% for dish in dish_list %}
        <li><a href="/recipe/{{ dish.id }} "> {{ dish.name }} </a>
        {% endfor %}
    </ul>
    {% else %}
    <p>You had nothing to cook. Time for shopping?</p>
    {% endif %}
</div>
</div>

<h2> Welcome to RecipeHelper!</h2>
<p><em>Just imagine here pictures of most delicious dishes ever, because site is in development and I didnt manage to do it in time</em></p>
<p>This application can help to answer the question "What should I cook when I had all only this stuff?</p>
<p>So just sign up and start!</p>

{% endblock %}
