{% extends 'base.html' %}
{% load static %}

{% block title %}RecipeHelper - Ingredients{% endblock %}

{% block nav %}
<nav>
    <a href="{% url 'index' %}">Home.</a>
    <a class="active" href="{% url 'ing_cat' %}">Ingridients</a>
    <a href="{% url 'catalog' %}">Dishes</a>
    <a>Help</a>
</nav>
{% endblock %}

{% block content %}
<h2>Ingredient catalog</h2>

<div class="pagination">
    <span class="step-links">
        {% if product.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ product.previous_page_number }}">Prev.</a>
        {% endif %}

        <span class="current">
            Page {{ product.number }} of {{ product.paginator.num_pages }}
        </span>

        {% if product.has_next %}
            <a href="?page={{ product.next_page_number }}">Next</a>
            <a href="?page={{ product.paginator.num_pages }}">Last</a>
        {% endif %}
    </span>
</div>

<h3>Ingredients:</h3>
{% if product %}
<table>
    {% for ing in product %}
    <tr>
    <th>{{ ing.id }}</th>
    <th><a href="/ingredient/{{ ing.id }} "> {{ ing.name }} </a></th>
    {% if user.is_staff %}
    <th><form method="post" >
        {% csrf_token %}
        <input type="image" src="{% static 'delete_512.png' %}" name = "{{ ing.id}}" value="Delete" title="Delete ingredient">
    </form></th>
    {% endif %}
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if user.is_staff %}
<h3>Please click <a href="/ingredient/create">here</a> to create new ingredient.</h3>
{% endif %}
{% endblock %}